/*CSS RESETS*/
@font-face {
    src: url(./Yusei_Magic/YuseiMagic-Regular.ttf);
    font-family: 'Yusei Magic';
}

body{
    font-family: 'Yusei Magic';
    background-color: #737373;
    line-height: 1.6;

}

h1 {
    margin-top: 0;
}


/*CSS START*/

.full-table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background: #009688;
    color: #fff;
    display: inline-block;
    box-shadow: 2px 2px 1px 0px #295C7B;
}

.card:hover {
    margin-top: 2px;
    box-shadow: none;
}

.clock {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    /* padding-left: 20px; */
}

.time {
    display: inline-block;
    min-width: 37px;
}

.colon {
    font-size: 1.1em;
    display: inline-block;
}

.date {
    display: block;
    min-width: 162px;
    /* padding-right: 30px; */
    /* border-right: 2px solid #295C7B; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
.greet{
    
    min-width: 162px;
    /* padding-right: 30px; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
